@import '../../sass/variables';
@import '../../sass/mixins';

.container {
  position: relative;
  display: inline-block;
}

.bookmarkIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 100px;
  background: rgba($blue700, 0.5);
  top: 1.6rem;
  right: 1.6rem;
  color: $white;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: none;
  z-index: 10;

  &:hover {
    background: $white;
    color: $blue700;
  }
}

.imageContainer {
  max-width: 28rem;
  max-height: 17.4rem;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.image {
  width: auto;
  height: auto;
}

.imageContainerOverlay {
  @include alignCenter;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  opacity: 0;
  transition: all 0.2s;

  & div {
    @include alignCenter;
    gap: 1.9rem;
    background: rgba($white, 0.25);
    border-radius: 100px;
    padding: 0.9rem 2.4rem 0.9rem 0.9rem;
  }

  &:hover {
    opacity: 1;
  }
}

.descriptionContainer {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 4px;

  & span {
    margin-left: 8px;
    margin-right: 8px;
  }

  & .icon {
    margin-right: 6px;
  }
}

.categoryContainer {
  display: flex;
  align-items: center;
}
