@import '../../sass/variables';
@import '../../sass/mixins';

.container {
  position: relative;
  display: inline-block;
}

.imageContainer {
  max-width: 28rem;
  max-height: 17.5rem;
  border-radius: 8px;
  overflow: hidden;
  position: relative;

  @include sm-breakpoint {
    max-width: 22rem;
    max-height: 14rem;
  }
}

.imageContainerOverlay {
  @include alignCenter;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  opacity: 0;
  transition: all 0.2s;

  & div {
    @include alignCenter;
    gap: 1.9rem;
    background: rgba($white, 0.25);
    border-radius: 100px;
    padding: 0.9rem 2.4rem 0.9rem 0.9rem;
  }

  &:hover {
    opacity: 1;
  }
}

.descriptionContainer {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 4px;

  & span {
    margin-left: 8px;
    margin-right: 8px;
  }

  & .icon {
    margin-right: 6px;
  }
}

.categoryContainer {
  display: flex;
  align-items: center;
}
