@import '../../sass/variables';
@import '../../sass/mixins';

.navBar {
  background-color: $blue600;
  padding: 3.5rem 3.2rem;
  display: inline-flex;
  flex-direction: column;
  height: calc(100% - 64px);
  border-radius: 2rem;
  margin: 3.2rem 3.2rem 0;

  @include sm-breakpoint {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding: 2.4rem;
    margin: 2.4rem 2.4rem 0;
  }

  @include xs-breakpoint {
    margin: 0;
    border-radius: 0;
    padding: 1.6rem 1.8rem;
  }
}

.logoWrapper {
  @include alignCenter;

  @include xs-breakpoint {
    width: 2.5rem;
    height: 2rem;
  }
}

.list {
  list-style: none;
  display: grid;
  justify-content: center;
  gap: 4rem;
  margin-top: 7.5rem;

  @include xs-breakpoint {
    & li {
      @include alignCenter;
      width: 1.6rem;
      height: auto;
    }

    & svg {
      width: 100%;
    }
  }

  & a {
    color: $blue500;
    transition: all 0.1s ease-in-out;
    width: 1.6rem;
  }

  & a:hover {
    color: $red;
  }

  @include sm-breakpoint {
    display: flex;
    margin-top: 0;
    gap: 3.2rem;
  }

  @include xs-breakpoint {
    gap: 2.4rem;
  }
}

.active {
  & a {
    color: $white;
  }
}

.avatarWrapper {
  margin-top: auto;

  & img {
    border: 1px solid $white;
    border-radius: 50px;
  }

  @include sm-breakpoint {
    margin-top: 0;

    & img {
      width: 3.2rem;
      height: 3.2rem;
    }
  }

  @include xs-breakpoint {
    & img {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}
