@import './sass/variables';

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: $blue700;
  color: $white;
  display: flex;
  height: 100dvh;
}

.mainWrapper {
  margin: 5.4rem 0;
  width: 100%;
}
