@import './variables';

@mixin alignCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin sectionContainer {
  margin-top: 3.4rem;
  margin-bottom: 3.4rem;
  margin-right: 1rem;
}

@mixin thumbnailsContainer {
  @include sectionContainer;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;

  @include sm-breakpoint {
    gap: 3rem;
  }
}

@mixin xs-breakpoint {
  @media only screen and (max-width: $xsBreakpoint) {
    @content;
  }
}

@mixin sm-breakpoint {
  @media only screen and (max-width: $smBreakpoint) {
    @content;
  }
}

@mixin md-breakpoint {
  @media only screen and (min-width: $mdBreakpoint) {
    @content;
  }
}

@mixin lg-breakpoint {
  @media only screen and (min-width: $lgBreakpoint) {
    @content;
  }
}

@mixin xl-breakpoint {
  @media only screen and (min-width: $xlBreakpoint) {
    @content;
  }
}
