@import './variables';

@mixin alignCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin thumbnailsContainer {
  margin-top: 2.5rem;
}

@mixin sectionContainer {
  margin-top: 3.4rem;
}
