@import './variables';

@mixin alignCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin thumbnailsContainer {
  margin-top: 2.5rem;
}

@mixin sectionContainer {
  margin-top: 3.4rem;
  margin-bottom: 3.4rem;
}

@mixin thumbnailsContainer {
  @include sectionContainer;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}
