// COLORS
$red: rgb(252, 71, 71);
$blue500: rgb(90, 105, 143);
$blue600: rgb(22, 29, 47);
$blue700: rgb(16, 20, 40);
$white: rgb(255, 255, 255);

// HEADINGS
$heading-l: 3.2rem;
$heading-m: 2.4rem;
$heading-s: 2.4rem;
$heading-xs: 1.8rem;

// TEXT
$text-m: 1.5rem;
$text-s: 1.3rem;

// BREAKPOINTS
$xsBreakpoint: 576px;
$smBreakpoint: 768px;
$mdBreakpoint: 1024px;
$lgBreakpoint: 1290px;
$xlBreakpoint: 1440px;
